body{
    background: #1c201f;
    color: white;
    font-family: sans-serif;
}
navbar{
    display: block;
    /* background: rgba(37, 37, 37, 0.568); */
    padding: 10px;
}
navbar a{
    box-sizing: border-box;
    padding: 5px;
    font-size: larger;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.nav-right{
    float: right;
}
.nav-left{
    float: left;
}
navbar a:hover{
    /* background-color: rgb(210, 208, 208); */
    font-size: 20px;
    
}
.footer{
    color: white;
    margin-top: 20px;
    
}